.site-header__logo.h2,
.template-index .section-header h2 {
    text-transform: none;
    letter-spacing: 0.05em;
}

.template-index .section-header h2 {
    font-size: calc(((var(--font-h2-desktop))/ (var(--font-size-base))) * 1.25em);
}

.site-header__logo.h2 {
    font-size: calc(((var(--font-h2-desktop))/ (var(--font-size-base))) * 1.5em);
}

.template-index .grid--uniform .grid__item.medium-up--one-third.text-center .h4 {
    font-size: calc(((var(--font-h4-desktop))/ (var(--font-size-base))) * 1.25em);
}

#shopify-section-16169388402cc6dc94 h2:after {
    content: "\261E";
    transform: rotate(90deg);
    display: inline-block;
    font-size: 150%;
}

/* Köp-knappar på produktsidorna */
.btn, .shopify-payment-button .shopify-payment-button__button--unbranded {
    font-family: var(--font-stack-body);
    font-style: var(--font-style-body);
    font-weight: bold;
    letter-spacing: 0;
}

.site-nav__link.btn:focus .site-nav__label,
.site-nav__link.btn:not([disabled]):hover .site-nav__label {
    border-bottom-width: 0;
}

.collection-header > .collection-description.rte {
    margin-bottom: 35px;
}


.collection-grid-item__overlay {
    border: .67rem solid white;
    transition: border .2s;
}

a.collection-grid-item__link:active .collection-grid-item__overlay,
a.collection-grid-item__link:hover .collection-grid-item__overlay {
    border-width: 0;
}

.collection-grid-item__title {
    top: auto;
    bottom: 0;
    margin-bottom: 0;
    background: white;
    text-shadow: none;
    padding: 15px !important;
    transform: none;
}

.collection-grid-item__link:focus .collection-grid-item__title-wrapper::before,
.collection-grid-item__link:hover .collection-grid-item__title-wrapper::before {
    opacity: 0;
}

#insta-feed,
.template-index .site-footer {
    margin-top: 0;
}

.hero[data-layout="renude"] {
    background-image: none !important;
    display: flex;
    flex-flow: column-reverse;
    flex-wrap: nowrap;
    height: auto;
}
.hero[data-layout="renude"]:after {
    display: none;
}

.hero[data-layout="renude"] > * {
    flex-grow: 1;
    height: auto;
}

.hero[data-layout="renude"] .hero__inner {
    --border-width: 1rem;
    border-image-source: var(--border-image);
    border-image-repeat: repeat;
    border-image-width: var(--border-width);
    border-image-slice: 50% 0;
    border-image-outset: 1;
    border-top: var(--border-width) solid #fff;
    border-right: var(--border-width) solid #fff;
    border-bottom: var(--border-width) solid #fff;
    border-left: var(--border-width) solid #fff;
    background: white;
    padding: 2rem 0;
    text-align: center;
}

.hero[data-layout="renude"] .mega-subtitle,
.hero[data-layout="renude"] .mega-title {
    text-shadow: none;
}

.hero[data-layout="renude"] .hero__btn {
    margin-top: 1rem;
}

.hero[data-layout="renude"] picture {
    display: block !important;
    position: initial;
}
.hero[data-layout="renude"] picture img {
    display: block;
}

@media (min-width: 750px) {
    .hero[data-layout="renude"] .hero__inner-image {
        --border-width: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .hero[data-layout="renude"] {
        flex-flow: row;
    }
    .hero[data-layout="renude"] .hero__inner {
        border: none;
        text-align: left;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        background: var(--svg-bg-image) no-repeat right center transparent; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-right: -150px;
        padding-right: 100px;
    }
    .hero[data-layout="renude"] picture img {
        height: 100%;
        width: 100%;
    }
}

.js-mobile-nav-toggle {
    display: none;
}

#InlineMobileNav {
    border-top: 1px solid var(--color-border);
    overflow-x: auto;
    white-space: nowrap;
}

#InlineMobileNav ul {
    margin: .5rem 1rem;
    text-align: left;
}

summary {
    display: list-item;
    font-weight: bold;
    margin: 0.5rem 0;
    cursor: pointer;
}

.faq-article .title {
    margin: 0;
}

.faq-article .content {
    margin: 0.5rem 0 1rem;
}

#shopify-section-contact-info {
    margin-top: 35px;
}